<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="usuarioCorreo" value="tiagopoliester@gmail.com" />
    <add key="claveCorreo" value="tiago12345" />
    <add key="puertoCorreo" value="587" />
    <add key="anfitrionCorreo" value="smtp.gmail.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>

    <add name="UniBDEntities" connectionString="metadata=res://*/datos.unidbentitymodel.csdl|res://*/datos.unidbentitymodel.ssdl|res://*/datos.unidbentitymodel.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;attachdbfilename=c:\users\delciomanuel\documents\visual studio 2017\projects\sistema estudiantil universitario\sistema estudiantil universitario\datos\UniBD.mdf;integrated security=true;multipleactiveresultsets=true;app=entityframework&quot;" providerName="system.data.entityclient" />
 
  
  <!--<add name="UniBDEntities" connectionString="metadata=res://*/Datos.UniDBEntityModel.csdl|res://*/Datos.UniDBEntityModel.ssdl|res://*/Datos.UniDBEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\UniBD.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>